@using BigDataManager.Models
@model List<RdtPnModel>
@{
    ViewBag.Title = "AccordingToThePopulation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(function () {
        alert(1);
        $("#firstPage").click(function () {
            var pageIndex = $("#pageIndex").val();
            var pageSize = $("#pageSize").val();
            var pid = $("#pid").val();
            this.href = "/DataSelect/AccordingToThePopulation?pid="+pid+"&pageIndex=1"+"&pageSize="+pageSize;
        });
        $("#prePage").click(function () {
            var pageIndex = $("#pageIndex").val()-1;
            var pageSize = $("#pageSize").val();
            var pid = $("#pid").val();
            this.href = "/DataSelect/AccordingToThePopulation?pid=" + pid + "&pageIndex=1" + "&pageSize=" + pageSize;
        });
        $("#nextPage").click(function () {
            var pageIndex = $("#pageIndex").val() + 1;
            var pageSize = $("#pageSize").val();
            var pid = $("#pid").val();
            this.href = "/DataSelect/AccordingToThePopulation?pid=" + pid + "&pageIndex=1" + "&pageSize=" + pageSize;
        });
        $("#lastPage").click(function () {
            debugger;
            var pageIndex = $("#TotalCount").val();
            var pageSize = $("#pageSize").val();
            var pid = $("#pid").val();
            this.href = "/DataSelect/AccordingToThePopulation?pid=" + pid + "&pageIndex=" + TotalCount + "&pageSize=" + pageSize;
        });

    })
</script>
<table align="center" class="am-table am-table-bordered">
    <thead>
        <tr>
            <th>姓名</th>
            <th>证件号</th>
            <th>户籍状况</th>
            <th>详细</th>
        </tr>
    </thead>
    <tbody>
        @foreach (RdtPnModel item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.IdCard</td>
                <td>@(item.IsLocalCity==0?"本市":"非本市")</td>
                <td><input class="am-btn-success am-round" type="button" value="查看详细" /></td>
            </tr>    
        }
    </tbody>
</table>
<input id="pageIndex" type="hidden" value="@ViewData["pageIndex"]" />
<input id="pageSize" type="hidden" value="@ViewData["pageSize"]" />
<input id="pid" type="hidden" value="@ViewData["pid"]" />
<input id="TotalCount" type="hidden" value="@ViewData["TotalCount"]" />
<ul data-am-widget="pagination" class="am-pagination am-pagination-default">
    <li class="am-pagination-first ">
        <a id="firstPage" href="" class="">第一页</a>
    </li>
    <li class="am-pagination-prev ">
        <a id="prePage" href="#" class="">上一页</a>
    </li>
    <li class="">
        <a href="#" class="">1</a>
    </li>
    <li class="am-active">
        <a href="#" class="am-active">2</a>
    </li>
    <li class="">
        <a href="#" class="">3</a>
    </li>
    <li class="">
        <a href="#" class="">4</a>
    </li>
    <li class="">
        <a href="#" class="">5</a>
    </li>
    <li class="am-pagination-next ">
        <a id="nextPage" href="#" class="">下一页</a>
    </li>
    <li class="am-pagination-last ">
        <a id="lastPage" href="" class="">最末页</a>
    </li>
</ul>

